* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------------------- Header ----------------------------------- */
header {
    height: 10vh;
    background: #333;
}
/* ----------------------------------- End of Header ----------------------------------- */

/* ----------------------------------- Main ----------------------------------- */
.content {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

/* ----------------------------------- Left ----------------------------------- */
aside {
    height: 80vh;
    background: #666;
}
/* ----------------------------------- End of Left ----------------------------------- */

/* ----------------------------------- Content ----------------------------------- */
main {
    height: 80vh;
    background: #999;
}
/* ----------------------------------- End of Content ----------------------------------- */
/* ----------------------------------- End of Main ----------------------------------- */


/* ----------------------------------- Footer ----------------------------------- */
footer {
    height: 10vh;
    background: #ccc;
}
/* ----------------------------------- End of Footer ----------------------------------- */